.choose-section {
    padding: 4rem 0;
}

.ChooseContent {
    margin: 15px 0;
    display: flex;
    justify-content: space-evenly;
}

.ChooseHead{
    text-align: center;
}
.ChooseHead h2{
    font-size: 26px;
    font-weight: 500 !important;
    color: var(--secondary);
}

.center p {
    margin-bottom: 30px;
}

.ChooseItem {
    display: flex;
    justify-content: center;
    align-items: center;

}

.roundedIcon {
    aspect-ratio: 1/1;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    color: var(--third);
    border: 1px solid var(--third);
}
.chooseTextHead{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.chooseText {
    margin-left: 10px;
}
.chooseText p{
    margin: 0;
}

.chooseText h5 {
    font-size: 22px;
    font-weight: 800 !important;
    margin: 0;
}