.rechargeNow {
  padding: 7px 9px;
  border: 1px solid #22b072;
  background: white;
  color: #0c9a5c;
  transition: 0.4s;
}
.rechargeNow:hover {
  padding: 7px 9px;
  border: 1px solid #0087db00;
  background: #22b072;
  color: #ffffff;
}
h1 span {
  color: #5ae4a8;
  font-weight: 400;
}
