.rechargeNow {
  padding: 7px 9px;
  border: 1px solid var(--secondary);
  background: white;
  color: var(--secondary);
  transition: 0.4s;
}
.rechargeNow:hover {
  padding: 7px 9px;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  color: #ffffff;
}
h1 span {
  color: #5ae4a8;
  font-weight: 400;
}
.SecondBannerImg img{
  height: 300px;
}
.headerMoney{
  color: var(--secondary);
}