.counterBody{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.singleCounter{
    text-align: center;
    color: var(--secondary);
    
}
.CounterIcon{
    font-size: 40px;
    margin-bottom: 10px;
}
.fontSize{
    font-size: 30px;
    font-weight: 600 !important;
}