.subHeader {
  background: #ff735c;
  color: white;
  padding: 5px;
}
.emailContainer {
  border-left: 1px solid white;
  padding-left: 1rem;
}
.callContainer {
  padding-right: 1rem;
}
.contactAndEmail {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media only screen and (max-width: 600px) {
  .emailContainer {
    padding-left: 0.5rem;
    font-size: 90%;
  }
  .callContainer {
    padding-right: 0.5rem;
    font-size: 90%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .subHeader {
    display: none;
  }
}
