.subHeader {
  background: #ffffff;
  padding: 5px;
  border-bottom: 1px solid #d4d4d4;
}
.emailContainer {
  border-left: 1px solid white;
  padding-left: 1rem;
}
.callContainer {
  padding-right: 1rem;
}
.contactAndEmail {
  display: flex;
  align-items: center;
  justify-content: end;
}
.selectLanguage {
  padding: 3px 10px;
  outline: 1px solid rgb(230 217 217);
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
}

.selectLanguage:focus-within{
  outline: 1px solid var(--secondary);
}
@media only screen and (max-width: 600px) {
  .emailContainer {
    padding-left: 0.5rem;
    font-size: 90%;
  }
  .callContainer {
    padding-right: 0.5rem;
    font-size: 90%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .subHeader {
    display: none;
  }
}
