.offersContainer {
  background: rgba(255, 255, 255, 0);
  min-height: 60vh;
  width: 100%;
  background-size: 100% 100%;
  padding: 0 3rem;
  border-radius: 10px;
  overflow-y: hidden;
}
.operatorImage {
  height: 45px;
  width: 45px;
  overflow: hidden;
}
.offerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.allOffers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.singleOffer {
  padding: 0.7rem;
  text-align: center;
  border: 2px solid rgba(72, 72, 72, 0.049);
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: white;
}
.tabsHeader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 50%;
  margin: 1rem auto;
}
.singleOffer:hover {
  transform: scale(1.05);
}
.tabsHeader button {
  border: 1px solid var(--secondary);
  background: white;
  border-radius: 5px;
}
.singleOffer:hover .offerButtons {
  left: 0%;
}
.offerSection {
  padding: 7rem 0rem;
  background: url("../../utilities/offerbg.jpg");
  background-size: 100% 100%;
}
.viewMore {
  padding: 7px 9px;
  border: 1px solid var(--secondary);
  background: var(--primary);
  color: var(--secondary);
  transition: 0.4s;
}
.bgPrimary {
  background: #008dee;
}
.viewMore:hover {
  padding: 7px 9px;
  border: 1px solid #0087db00;
  background: var(--secondary);
  color: #ffffff;
}

.activeBorder {
  background: #ff735c !important;
  border: 1px solid rgba(169, 169, 169, 0) !important;
  color: white;
}
