.accordion-item {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}
.accordion-button {
    background-color: #fff0 !important;
    font-size: 1.3rem !important;
}

.accordion-button:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0) !important;
}
.accordion-button:not(.collapsed) {
    background-color: #e7f1ff00 !important;
}
.accordions{
    padding: 10rem 0;
    background: rgb(255, 255, 255);
}
.accordions {
    padding: 10rem 0;
    background: rgb(250 250 250);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
}