
.allprogress {
    display: grid;
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem;
    /* overflow-x: hidden; */
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

.singleProgress svg {
    font-size: 1.5rem;
    background: white;
    color: #00bb36 !important;
}

