.allprogress {
  display: grid;
  width: 70%;
  margin: 0 auto;
  margin-top: 6rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.singleProgress svg {
  font-size: 1.5rem;
  background: white;
  color: var(--secondary) !important;
}
