
.allprogress {
    display: grid;
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem;
    /* overflow-x: hidden; */
    grid-template-columns: repeat(4,1fr);
}
.singleProgress {
    position: relative;
}
/* .singleProgress:after {
    width: 290px;
    height: 2px;
    background: #17d100;
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
}
.singleProgress:last-child:after {
    width: 0px;
    height: 2px;
    background: rgb(0, 0, 0);
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
} */
.singleProgress svg{
    font-size: 1.5rem;
    background: white;
}
.singleProgress:nth-child(1):before {
    position: absolute;
    content: "Order";
    top: 0%;
    left: 24px;
    background: rgb(255, 255, 255);
    z-index: 555;
    padding: 0 20px;
}
.singleProgress:nth-child(2):before {
    position: absolute;
    content: "Summary";
    top: 0%;
    left: 24px;
    background: rgb(255, 255, 255);
    z-index: 555;
    padding: 0 20px;
}
.singleProgress:nth-child(3):before {
    position: absolute;
    content: "Payment";
    top: 0%;
    left: 24px;
    background: rgb(255, 255, 255);
    z-index: 555;
    padding: 0 20px;
}
.singleProgress:nth-child(4):before {
    position: absolute;
    content: "Complete";
    top: 0%;
    left: 24px;
    background: rgb(255, 255, 255);
    z-index: 555;
    padding: 0 20px;
}