.counterImage{
    height: 500px;
}
.CounterHead{
    font-size: 26px;
    font-weight: 500 !important;
}
.imageOverlay{
    background:  rgba(151, 148, 148, 0.49);
}
.counter{
    border: 1px solid #dedede ;
    padding: 2rem;
    border-radius: 10px;
}
.counter h2{
    font-size: 40px;
    font-weight: 800 !important;
    /* color: white; */
    color: var(--secondary);
}
.counter h4{
    color: white;
    text-align: center;
}