.headerContainer {
    display: flex;
    align-items: center;
    position: relative;
}
.logoContainer {
    width: 30%;
}
.navContainer {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: .4s;
}
.linksContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linksContainer {
    width: 76%;
    padding-right: .7rem;
}
.linksContainer ul li a {
    color: #000000;
    font-weight: 400;
    font-size: 17px;
}
.logo {
    height: 40px;
    width: 150px;
    cursor: pointer;
}
.profileContainer {
    display: flex;
    width: 7%;
    align-items: center;
    justify-content: end;
}
.profileImage {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #f1f1f1;
    cursor: pointer;
}
.left0{
    left: 0% !important;
}
.closeBtn{
    display: flex;
    align-items: center;
    justify-content: end;

}
.closeBtnContainer{
      width: 70%;  
      display: none;
}
.onlyBigScreen{
    display: block;
}
.onlySmallScreen{
    display: none;
}
.profileContainer h5 {
    color: #0043a7;
    font-weight: bolder !important;
}
.linksContainer svg {
    display: none !important;
}
.modalProfileImage {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 2px solid #e6e6e6;
    margin: 0 auto;
}
.modalProfileImage img {
    object-fit: cover;
}
.profileItems {
    background: #f1f1f1;
    padding: .7rem;
    border-radius: 7px;
}
@media only screen and (max-width: 600px) {
    .onlyBigScreen{
        display: none;
    }
    .onlySmallScreen{
        display: block;
    }
    .linksContainer svg {
        display: block !important;
        color: #0043a7;
    }
}