.headerContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.logoContainer {
  width: 30%;
}
.headerSection {
  padding: 1rem 0;
  background: white;
  z-index: 55555;
}
.navContainer {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.4s;
}
.linksContainer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linksContainer {
  padding-right: 0.7rem;
}
.linksContainer ul li a {
  color: #000000;
  font-weight: 400;
  font-size: 17px;
}
.linksContainer ul li {
  margin-right: 3rem;
}
.logo {
  height: 40px;
  width: 150px;
  cursor: pointer;
}
.profileContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}
.profileImage {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid #f1f1f1;
  cursor: pointer;
}
.left0 {
  left: 0% !important;
}
.closeBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}
.closeBtnContainer {
  width: 70%;
  display: none;
}
.onlyBigScreen {
  display: block;
}
.onlySmallScreen {
  display: none;
}
.profileContainer h5 {
  color: #0043a7;
  font-weight: bolder !important;
}
.linksContainer svg {
  display: none !important;
}
.modalProfileImage img {
  object-fit: cover;
}
.modalProfileImage {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid #e6e6e6;
  margin: 0 auto;
  overflow: hidden;
}
.profileModalContainer {
  box-shadow: 0 0 5px #e8e8e8;
  border-radius: 7px;
  padding: 1rem;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: none !important;
  border-width: 0;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
  color: #0b7696;
  font-weight: 400;
  display: flex;
  align-items: center;
}
td {
  color: #807e7e;
}
.profileButtons button {
  padding: 5px 14px;
  margin: 0 5px;
  border: 1px solid #0b7696;
  background: transparent;
  border-radius: 5px;
  transition: 0.4s;
  color: #0b7696;
}
.profileButtons button:hover {
  border: 1px solid transparent;
  background: #0b7696;
  color: white;
}
.profileDetails h3 {
  color: #0b7696;
  font-weight: 600 !important;
}
.profileButtons button:first-child {
  margin-left: 0px !important;
}
.Shadow {
  box-shadow: 0 0 5px #e0e0e0;
  padding: 1rem;
  border-radius: 5px;
}
.responsiveBorderPadding {
  padding-left: 3rem !important;
  border-left: 1px solid grey;
}
.responsivePadding {
  padding-right: 3rem !important;
}
.sticky {
  position: fixed;
  width: 100%;
  z-index: 10055555555555555555550;
  transition: 1s;
  top: 0;
  left: 0;
  margin-top: 0px;
  animation: stickyNav 0.4s;
  background: white;
}
.lginAndSign svg {
  color: #0043a7;
}
.lginAndSign {
  text-decoration: none;
  color: black;
}
.lginAndSign:hover {
  color: black;
}
@keyframes stickyNav {
  0% {
    margin-top: -100px;
    transition: 1s;
  }
  100% {
    margin-top: 0px;
    transition: 1s;
  }
}
@media only screen and (max-width: 600px) {
  .responsivePadding {
    padding-right: 0rem;
  }
  .responsiveBorderPadding {
    padding-left: 0rem !important;
    border-left: none;
  }
  .onlyBigScreen {
    display: none;
  }
  .onlySmallScreen {
    display: block;
  }
  .linksContainer svg {
    display: block !important;
    color: #0043a7;
  }
}
