.headerContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.logoContainer {
  width: 30%;
}

.headerSection {
  padding: 1rem 0;
  background: #ffffff;
  z-index: 105;
  top: 0px;
  color: white;

}


.navContainer {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.4s;
}

.linksContainer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* 
.linksContainer ul li {
  text-align: end;
} */

.linksContainer ul li a {
  color: #000000;
  font-weight: 400;
  font-size: 17px;
  
}

.linksContainer ul li a:hover {
  color: var(--third);
}

.linksContainer ul li {
  margin-left: 3rem;
}

.logo {
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.profileContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.profileImage {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid #f1f1f1;
  cursor: pointer;
}

.left0 {
  left: 0% !important;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.closeBtnContainer {
  width: 70%;
  display: none;
}

.onlyBigScreen {
  display: block;
}

.onlySmallScreen {
  display: none;
}

.profileContainer h5 {
  color: #0043a7;
  font-weight: bolder !important;
}

.modalProfileImage img {
  object-fit: cover;
}

.modalProfileImage {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid #e6e6e6;
  margin: 0 auto;
  overflow: hidden;
}

.profileModalContainer {
  box-shadow: 0 0 5px #e8e8e8;
  border-radius: 7px;
  padding: 1rem;
}


.profileButtons button {
  padding: 5px 14px;
  margin: 0 5px;
  border: 1px solid #0b7696;
  background: transparent;
  border-radius: 5px;
  transition: 0.4s;
  color: #0b7696;
}

.profileButtons button:hover {
  border: 1px solid transparent;
  background: #0b7696;
  color: white;
}

.profileDetails h3 {
  color: #0b7696;
  font-weight: 600 !important;
}

.profileButtons button:first-child {
  margin-left: 0px !important;
}

.Shadow {
  box-shadow: 0 0 5px #e0e0e0;
  padding: 1rem;
  border-radius: 5px;
}

.responsiveBorderPadding {
  padding-left: 3rem !important;
  border-left: 1px solid grey;
}

.responsivePadding {
  padding-right: 3rem !important;
}

.headerSection.sticky {
  position: fixed;
  width: 100%;
  z-index: 10055555555555555555550;
  transition: 1s;
  top: 0;
  left: 0;
  margin-top: 0px;
  animation: stickyNav 0.4s;
  background: white;
}

.lginAndSign {
  border: none;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  font-size: 17px;
}

.lginAndSign:hover {
  color: var(--third);
}

.scrollTop {
  position: fixed;
  top: 80%;
  right: 5%;
}

button.scrollTop {
  background-color: var(--third);
  border: 1px solid var(--third);
  /* padding: 5px; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
}
button.scrollTop:hover{
  color: var(--third);
  background-color: white;
  outline: 1px solid var(--third);
}
/* button.scrollTop svg {
  color: white;
} */

.toggleBar {
  color: #652581;
}

.toggleCrossBar {
  color: #ff3c1f;
}

.textCenter {
  text-align: center;

  margin: 0 auto;
}

.modal-header .btn-close {
  padding: 0;
  margin: 0 auto;
}

.signInModal {
  z-index: 2222222222;
}

.LogInHead {
  display: block;
  margin: 0 auto;
}

.signInHead {
  font-size: 26px;
  font-weight: 500 !important;
  color: var(--secondary);
}

.SubmitButton {
  border: none;
  padding: 8px;
  font-weight: 500 !important;
  background-color: var(--third);
  border-radius: 5px;
  color: white;
  transition: 0.4s;
}

.SubmitButton:hover {
  outline: 1px solid var(--third);
  color: var(--third);
  font-weight: 500 !important;
  background-color: transparent;
  transition: 0.4s;
}

.signUp {
  border: none;
  background-color: transparent;
  color: #0d6efd;
  text-decoration: none;
}

.socialIcon {
  font-size: 25px;
}

.closeBtn {
  right: -138px;
  font-size: 16px;
  font-weight: 600;
  top: -71px;
  cursor: pointer;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 0 !important;
  background-color: var(--third);
  transition: 0.4s;
}

.closeBtn:hover {
  background-color: white;
  color: var(--third);
  transition: 0.4s;
  outline: 1px solid var(--third);

}

.signInLabel {
  display: block;
}

.SignInInput {
  padding: 10px;
  border: 1px solid rgba(153, 151, 151, 0.247);
  border-radius: 5px;
}

.SignInInput:focus {
  outline: 2px solid var(--secondary);

}

.SignUPCloseBtn {
  right: -117px;
  font-size: 16px;
  font-weight: 600;
  top: -71px;
  cursor: pointer;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 0 !important;
  background-color: var(--third);
  transition: 0.4s;
}

.SignUPCloseBtn:hover {
  background-color: white;
  color: var(--third);
  outline: 1px solid var(--third);
  transition: 0.4s;
}
.instagramColor {
  color: #ef440b;
}
.userLogo {
  background-color: #d5d9dd;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.User {
  position: absolute;
  top: 100%;
  right: -150%;
  z-index: 222222 !important;
  display: none;
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: fit-content;
  border-radius: 4px;
}
.userItem{
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.userUpdate {
  width: 100%;
  border-bottom: 1px solid rgb(135, 130, 130);
  white-space: nowrap;
  display: block;
  padding: 3px 10px;
  
}
.userUpdate:last-child{
  border-bottom: none;
}
@keyframes stickyNav {
  0% {
    margin-top: -100px;
    transition: 1s;
  }

  100% {
    margin-top: 0px;
    transition: 1s;
  }
}