.paymentFormContainer {
  padding: 1rem;
  border-radius: 7px;
}
.paymentHead{
  font-size: 26px;
  font-weight: 500 !important;
  color: var(--secondary);
}
.payment-options{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}
.backImg{
   width: 100%;
   height: 100%;
}
.backImg>img{
  width: 100%;
  height: 100%;
}
.positionAfter::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(81, 80, 80, 0.621);
}
.transitionText{
  position: absolute;
  z-index: 444444;
  display: flex;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.paymentFrom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.transitionText:hover{  cursor: pointer;
  scale: 1.2;
  transition: 0.4s;
}
.paymentSection {
  background: #f9f9f9;
  padding: 3rem 0;

}
.paymentContainer {
  padding: 3rem;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  background: white;
}
.info {
  position: relative;
}
.subInfo {
  position: absolute;
  top: -145%;
  right: -250%;
  background: #313131e1;
  color: white;
  padding: 3px;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
}
.subInfo:after {
  position: absolute;
  content: "";
  top: 95%;
  left: 37%;
  border-bottom: 10px solid rgba(255, 0, 0, 0);
  border-top: 10px solid #000000;
  border-left: 10px solid rgba(255, 0, 0, 0);
  border-right: 10px solid rgba(255, 0, 0, 0);
}
.info:hover .subInfo {
  opacity: 1;
  visibility: visible;
}
.proceed:hover {
  padding: 7px 9px;
  background: transparent;
  border: 1px solid var(--hover);
  color: var(--hover);
  transition: 0.4s;
  border-radius: 5px;
}
.proceed {
  padding: 7px 9px;
  border: 1px solid var(--hover);
  background: var(--hover);
  color: white;
  transition: 0.4s;
  border-radius: 5px;
}
.payButton{
  display: flex;
  justify-content: center;
  align-items: center;

}
