.subscriptionImage {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}
.subscriptionText h2 {
    font-size: 5rem;
    font-weight: 700 !important;
    margin: 0;
    color: #0087db;
}
.subscriptionText button {
    border: none;
    padding: 10px 33px;
    font-size: 20px;
    background: #0087db;
    color: white;
}
.subsContainer{
    padding: 3rem;
}