
.footer {
  padding: 3rem 0;
  /* background: #f9f9f9; */
  background-color: rgba(225, 218, 218, 0.594);
}
.footer a{
  color: #535353;
}
.footer a:hover{
  color: var(--third);
}

.footer ul li {
  line-height: 25px;
}
.logo{
  margin-bottom: 10px;
}
.pointer{
  cursor: pointer;
}
.subFooter {
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(215, 215, 215);
  padding: 18px 0;
  margin-top: 3rem;
}
.footerIcon a{
  margin-right: 5px;
}
.FooterHead{
  font-size: 16px;
  font-weight: 700 !important;
  color: var(--secondary);
}


