.succAnimation {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.successfullMessage {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  padding: 0 3rem 3rem;
}
.invoice {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  /* border: 2px dashed grey; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
}
.successfullIcon {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}
.actionsButtons {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}
.rechargeAgain{
  padding: 7px 9px;
  border: 1px solid var(--third);
  background: var(--third);
  /* color: var(--primary); */
  color: white;
  transition: 0.4s;
}
.rechargeAgain:hover{
  border: 1px solid var(--third);
  background: white;
  color: var(--third);
}
.paymentModalClose {
  left: 97%;
  background-color: var(--hover);
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  top: -21%;
  /* font-size: 16px; */
  padding: 0;
  transition: 0.4s;
}
.paymentModalClose:hover{
  background-color: white;
  outline: 1px solid var(--hover);
  color: var(--hover);
  transition: 0.4s;
}
.successBtn1{
  background-color: var(--secondary);
  color: white;
  outline: 1px solid var(--secondary);
  transition: 0.4s;
}
.successBtn1:hover{
  background-color: transparent;
  color: var(--secondary);
  outline: 1px solid var(--secondary);
  transition: 0.4s;
}
.successBtn2{
  background-color: var(--third);
  color: white;
  outline: 1px solid var(--third);
  transition: 0.4s;
}
.successBtn2:hover{
  background-color: transparent;
  color: var(--third);
  outline: 1px solid var(--third);
  transition: 0.4s;
}
.successBtn3{
  background-color: var(--hover);
  color: white;
  outline: 1px solid var(--hover);
  transition: 0.4s;
}
.successBtn3:hover{
  background-color: transparent;
  color: var(--hover);
  outline: 1px solid var(--hover);
  transition: 0.4s;
}