.succAnimation {
  width: 200px;
  height: 150px;
  margin: 0 auto;
}
.successfullMessage {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 100%;
  padding: 0 3rem 3rem;
}
.invoice {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border: 2px dashed grey;
}
.successfullIcon {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}
.actionsButtons {
  width: 25%;
  margin: 0 auto;
  text-align: center;
}
.rechargeAgain{
  padding: 7px 9px;
  border: 1px solid var(--third);
  background: var(--third);
  color: var(--primary);
  transition: 0.4s;
}
.rechargeAgain:hover{
  border: 1px solid var(--third);
  background: var(--primary);
  color: var(--third);
}
