::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.allOptions {
  /* display: flex; */
  align-items: center;
  /* justify-content: space-between; */
  padding: 1rem;
  overflow-x: scroll;
}
.optionsContainer {
  position: relative;
  /* padding: 0.5rem 0 0 0; */
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.option {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 3px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}
.option svg {
  color: white;
  padding: 0.4rem;
  border-radius: 50%;
  font-size: 2rem !important;
  position: relative;
  z-index: -1;
}
.option1 {
  background: #009dff;
}
.option2 {
  background: #9c77ff;
}
.activeMenu {
  background: rgb(0, 96, 251) !important;
  color: var(--primary) !important;
}
.linkOption {
  background: transparent;
  border: none;
  position: relative;
  z-index: 5;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  gap: 2;
  gap: 10px;
}

button.linkOption span {
  font-size: 0.8rem;
}
.activeStateColor{
  background-color: white;
  color: black;
  transition: 0.5s;

}

.bgOption{
  background-color: #0c2f55;
}

