/* Project Name: iRecharge */
/* Tag: Online Moibile Recharge and Bill Pay UI Template | Reac JS */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Nunito&display=swap");
:root {
  --primary: rgb(255, 255, 255);
  --secondary: #ff735c;
  --third: #375a61;
}
body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
ul li a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 100 !important;
}
.preloader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation {
  animation: fade 0.5s;
}

@media (min-width: 320px) and (max-width: 600px) {
  .featureOne {
    background-size: cover !important;
  }
  .rechargeMenu {
    margin-top: 0 !important;
  }
  .rechargeItemMenu {
    margin-bottom: 2rem;
  }
  .rechargeBg {
    background-image: none !important;
    height: 0 !important;
    padding: 0 !important;
  }
  .lginAndSign {
    display: flex;
    align-items: center;
    padding: 3rem 0 1rem 2rem;
  }
  .homeBtn {
    top: 27% !important;
  }
  .loginForm input {
    width: 100% !important;
  }
  /* .loginForm {
  padding: 10px !important;
} */
  .loginForm {
    padding: 10px !important;
    border-top-left-radius: 20px;
    background: #e1e1e1;
    border-top-right-radius: 20px;
    height: 94vh;
    padding-top: 2rem !important;
  }
  .loginForm h2 {
    font-size: 2rem !important;
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .footer ul li {
    line-height: 22px !important;
  }
  .counterContainer {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .accordion-button {
    font-size: 1rem !important;
  }
  ul.transaction {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  ul.transaction li img {
    width: 100% !important;
  }
  .subInfo {
    right: 0% !important;
  }
  .subInfo:after {
    left: 78% !important;
  }
  .errorContainer {
    width: 100% !important;
  }
  .footer h4 {
    font-weight: 400 !important;
    font-size: 1.3rem !important;
  }
  .actionsButtons {
    width: 100% !important;
  }
  .discountSection {
    padding: 1rem 0 !important;
    background: #f9f9f9;
  }
  .invoice {
    width: 100% !important;
    padding: 1rem !important;
  }
  .navContainer {
    width: 100%;
    /* display: block !important; */
    position: fixed;
    top: 0;
    width: 273px;
    background: linear-gradient(-85deg, #f6f6f6, white);
    z-index: 555;
    height: 100vh;
    left: -100%;
    flex-direction: column-reverse;
    justify-content: start !important;
  }
  .responsiveWidth {
    width: 100%;
  }
  .rowReverse {
    flex-direction: row-reverse;
  }
  .responsMargin {
    margin-left: 1rem;
  }
  .linksContainer ul {
    display: block !important;
  }
  .linksContainer {
    width: 100% !important;
    padding: 0 !important;
  }
  .profileContainer {
    width: 100% !important;
    justify-content: start !important;
    padding: 2rem;
    background: #ffffff;
  }
  .closeBtnContainer {
    display: block !important;
  }
  .linksContainer ul li {
    margin: 2px 0;
    padding: 10px 7px;
    padding-left: 2rem;
  }
  .allOffers {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .offersContainer {
    padding: 0rem !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  .gradiant {
    border-radius: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
  .gradiant h2 {
    font-size: 1.2rem !important;
  }
  .tabsHeader {
    grid-template-columns: repeat(2, 1fr) !important;
    width: 100% !important;
    gap: 5px;
  }
  .subscriptionText h2 {
    font-size: 2rem !important;
  }
  .subsContainer {
    padding: 0rem !important;
  }
  .subscriptionImage {
    height: 342px !important;
    width: 100% !important;
  }
  .orderInfoContainer {
    width: 100% !important;
    padding: 0.4rem !important;
    border: 1px solid rgb(233, 233, 233);
  }
  .allprogress {
    grid-template-columns: repeat(4, 1fr) !important;
    width: 100% !important;
  }
  .paymentContainer {
    padding: 0rem !important;
  }
  .successfullMessage {
    width: 100% !important;
    padding: 1rem !important;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 601px) and (max-width: 767px) {
  .onlySmallScreen {
    display: block !important;
}
  .linksContainer ul {
    display: block !important;
}
.closeBtnContainer {
  display: block !important;
}
.navContainer {
  width: 100%;
  position: fixed;
  top: 0;
  width: 50% !important;
  background: linear-gradient(-85deg, #f6f6f6, white);
  z-index: 555;
  height: 100vh;
  left: -100%;
  flex-direction: column-reverse;
  justify-content: start !important;
}
.lginAndSign {
  margin-left: 1.2rem;
}
.lginAndSign svg {
  display: none !important;
}
.linksContainer ul li {
  padding: .7rem 0;
}
.linksContainer ul {
  margin-top: 1rem !important;
}
.profileContainer {
  justify-content: start !important;
  padding: 1rem;
}
.responsiveBorderPadding {
  padding-left: 0 !important;
  border-left: none !important;
}
.responsivePadding {
  padding-right: 0 !important;
}
.allOffers {
  grid-template-columns: repeat(1, 1fr) !important;
}
.tabsHeader {
  width: 100% !important;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
  .loginForm input {
    width: 100% !important;
  }
  .singleInput {
    margin-bottom: 0rem !important;
  }
  .loginForm h2 {
    margin-bottom: 1rem !important;
  }
  .loginForm {
    padding: 10px !important;
  }
  .loginForm h2 {
    font-size: 2rem !important;
  }
  ul.transaction {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  ul.transaction li img {
    width: 100% !important;
  }
  .actionsButtons {
    width: 60% !important;
  }
  .invoice {
    width: 65% !important;
  }
  .logo {
    height: 35px !important;
    width: 132px !important;
  }
  .logoContainer {
    width: 20% !important;
  }

  .subscriptionImage {
    height: 600px !important;
    width: 100% !important;
  }
  .subscriptionText h2 {
    font-size: 3rem !important;
  }
  .tabsHeader {
    width: 70% !important;
  }
  .allOffers {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .allprogress {
    grid-template-columns: repeat(4, 1fr) !important;
    width: 100% !important;
  }
  .orderInfoContainer {
    width: 70% !important;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .actionsButtons {
    width: 60% !important;
  }
  .invoice {
    width: 55% !important;
  }
  .allOffers {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .subscriptionImage {
    height: 500px !important;
    width: 500px !important;
  }
}
