.balance {
    box-shadow: 0 0 3px #e3e3e3;
    padding: .5rem;
    border-radius: 5px;
    color: white;
    position: relative;
    overflow: hidden;
}
.balance:hover::after {
    transform: rotate(40deg) scale(1.5);
}
.balance::after {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.239);
    transform: rotate(60deg);
    transition: 1s;
}
.balanceBg1 {
    background: linear-gradient(45deg, #5a54ff80, #31fcffad);
}
.balanceBg2 {
    background: linear-gradient(45deg, #a500dc75, #b496ffa5);
}
.balanceBg3 {
    background: linear-gradient(45deg, #00a6d090, #93ff989d);
}
.balanceBg4 {
    background: linear-gradient(45deg, #ff5959a1, #fffcbda1);
}