.bannerImg img{
    /* aspect-ratio: 16/4; */
    width: 100%;
    
}
.bgOverlay{
    background: rgb(47 47 47 / 73%);
    
}
.bannerText h1{
    font-size: 30px;
    color: var(--secondary);
    font-weight: 600 !important;
    margin-bottom: 10px;
}
.bannerText{
    color: white;
}
.bannerText p {
    width: 700px;
    margin: 0 auto;
}